z-index: 11body {
  background-color: #E96262;
}

.one {
  position: relative;
  height: 330vh;
  background-color: #FFFFFF;
  background-image: url(images/BackgroundSectiontTwo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140vw;
  background-attachment: fixed;

}

.one h1 {
  position: absolute;
  top: 75%;
  left: 40%;
  z-index: 1;
  color: #E9AD62;
  font-size: 10vw;
}

.t{
  position: fixed;
  z-index: 16;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center center;
  background-image: url(images/backgroundfisrtscreen.svg);
  background-repeat: no-repeat;
  transition: 0.4s;
}

.tsecond{
  position: fixed;
  z-index: 16;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center center;
  background-image: url(images/backgroundsecondcreen.svg);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.tsecond2{
  position: fixed;
  z-index: 16;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center center;
  background-image: url(images/backgroundsecondcreen.svg);
  background-repeat: no-repeat;
  transition: 0.5s;
  opacity: 0;
}

.ttop{
  position: fixed;
  z-index: 16;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center center;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-image: url(images/backroundtop.svg);
}

h1{
  font-family: 'PatsySans';
  font-size: 100vw;
}

.two {
  position: relative;
  height: 500vh;
  background-image: url(images/BackgroundSectiontTwo.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: center;
  background-size: 140vw;
  background-attachment: fixed;
  overflow: scroll;
}

.image1 {
  background-size: 10vw;
  position: fixed;
  left: 45vw;
  top: 17vw;
  z-index: 15;
  height: 10vw;
  width: 10vw;
  background-image: url(images/chicken.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image2 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 17vw;
  z-index: 15;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image3 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 20vw;
  z-index: 15;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image4 {
  background-size: 10vw;
  position:fixed;
  left: 43vw;
  top: 20vw;
  z-index: 14;
  height: 10vw;
  width: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}

.image5 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 17vw;
  z-index: 14;
  height: 10vw;
  width: 10vw;
  background-image: url(images/chicken.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image6 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 18vw;
  z-index: 14;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image7 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 20vw;
  z-index: 14;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}

.image8 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 20vw;
  z-index: 13;
  height: 10vw;
  width: 10vw;
  background-image: url(images/chicken.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image9 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 17vw;
  z-index: 13;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image10 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 17vw;
  z-index: 13;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image11 {
  background-size: 10vw;
  position:fixed;
  left: 43vw;
  top: 18vw;
  z-index: 13;
  height: 10vw;
  width: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}

.image12 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 20vw;
  z-index: 12;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image13 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 20vw;
  z-index: 12;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image14 {
  background-size: 10vw;
  position:fixed;
  left: 43vw;
  top: 17vw;
  z-index: 12;
  height: 10vw;
  width: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}

.image15 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 17vw;
  z-index: 13;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image16 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 17vw;
  z-index: 13;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image17 {
  background-size: 10vw;
  position:fixed;
  left: 43vw;
  top: 18vw;
  z-index: 13;
  height: 10vw;
  width: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image18 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 20vw;
  z-index: 12;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image19 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 20vw;
  z-index: 12;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}

.image20 {
  background-size: 10vw;
  position:fixed;
  left: 43vw;
  top: 17vw;
  z-index: 11;
  height: 10vw;
  width: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image21 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 17vw;
  z-index: 11;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image22 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 17vw;
  z-index: 11;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image23 {
  background-size: 10vw;
  position:fixed;
  left: 43vw;
  top: 18vw;
  z-index: 11;
  height: 10vw;
  width: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}

.image24 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 20vw;
  z-index: 10;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image25 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 20vw;
  z-index: 10;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image26 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 17vw;
  z-index: 10;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image27 {
  background-size: 10vw;
  position:fixed;
  left: 43vw;
  top: 18vw;
  z-index: 10;
  height: 10vw;
  width: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}

.image28 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 20vw;
  z-index: 9;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}
.image29 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 20vw;
  z-index: 9;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 1s;
}



.i {
  height: 500vh;
}
#image1 {
  position: fixed;
}
#image2 {
  position: fixed;
}
#image3 {
  position: fixed;
}

.galleryscroll{
  position:fixed;
  z-index: 30;
  height: 100vh;
  width: 100vw;
  /* background-image:url(images/background_1.gif); */
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
}
.galleryscroll h1{
  color: #000000;
  text-align:center;
  position: fixed;
  top: 50vw;
  font-size: 10vw;
}

.gg{
  z-index: 31;
  width: 10vw;
  height: 10vw;
  background-color:#FFFFFF;
  position: fixed;
  top: 30vw;
}

/* .image11 {
  width: 10vw;
  height: 10vw;
  background-image: url(images/chicken.svg);
  background-repeat: no-repeat;
}

.image12 {
  width: 10vw;
  height: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
}

.image13 {
  width: 10vw;
  height: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
}
.image14 {
  width: 10vw;
  height: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;

} */
