body {
  background-color: #E96262;
}

.one {
  position: relative;
  height: 330vh;
  background-color: #FFFFFF;
  background-image: url(images/BackgroundSectiontTwo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140vw;
  background-attachment: fixed;

}

.one h1 {
  position: absolute;
  top: 75%;
  left: 40%;
  z-index: 1;
  color: #E9AD62;
  font-size: 10vw;
}

.t{
  position: fixed;
  z-index: 16;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center center;
  background-image: url(images/backgroundfisrtscreen.svg);
  background-repeat: no-repeat;
  transition: 0.4s;
}

.tsecond{
  position: fixed;
  z-index: 16;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center center;
  background-image: url(images/backgroundsecondcreen.svg);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.tsecond2{
  position: fixed;
  z-index: 16;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center center;
  background-image: url(images/backgroundsecondcreen.svg);
  background-repeat: no-repeat;
  transition: 0.5s;
  opacity: 0;
}

.ttop{
  position: fixed;
  z-index: 16;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center center;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-image: url(images/backroundtop.svg);
}

h1{
  font-family: 'PatsySans';
  font-size: 100vw;
}

.two {
  position: relative;
  height: 500vh;
  background-image: url(images/BackgroundSectiontTwo.svg);
  background-repeat: no-repeat;
  background-color: #60C9EB;
  background-position: center;
  background-size: 140vw;
  background-attachment: fixed;
  overflow: scroll;
}

.image1 {
  background-size: 10vw;
  position: fixed;
  left: 44vw;
  top: 17vw;
  z-index: 15;
  height: 10vw;
  width: 10vw;
  background-image: url(images/chicken.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 0.1s;
}

.image2 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 19vw;
  z-index: 15;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 0.1s;
}

.image3 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 18vw;
  z-index: 15;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 0.1s;
}
.image4 {
  background-size: 10vw;
  position:fixed;
  left: 43vw;
  top: 16vw;
  z-index: 14;
  height: 10vw;
  width: 10vw;
  background-image: url(images/1.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 0.1s;
}

.image5 {
  background-size: 10vw;
  position:fixed;
  left: 44vw;
  top: 17vw;
  z-index: 14;
  height: 10vw;
  width: 10vw;
  background-image: url(images/chicken.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 0.1s;
}

.image6 {
  background-size: 10vw;
  position:fixed;
  left: 45vw;
  top: 19vw;
  z-index: 14;
  height: 10vw;
  width: 10vw;
  background-image: url(images/paws.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 0.1s;
}

.image7 {
  background-size: 10vw;
  position:fixed;
  left: 46vw;
  top: 18vw;
  z-index: 14;
  height: 10vw;
  width: 10vw;
  background-image: url(images/2.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transition: 0.1s;
}

.i {
  height: 500vh;
}
#image1 {
  position: fixed;
}
#image2 {
  position: fixed;
}
#image3 {
  position: fixed;
}
